body {
  background-color: #cfeaf7;
  margin: 0 auto;
}

.l-island-a {
  margin-left: auto;
  margin-right: auto;
}

.l-island-a p {
  margin: 15px 0;
}
.content {
  background-color: white;
  border-radius: 5px;
  padding: 0 15px;
}
.content h2,
.content h3 {
  font-size: 1.5em;
  line-height: 1.3em;
}
.content h2,
.content h3,
.content h4 {
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 15px;
}

.content-title {
  font-size: 36px;
  font-weight: 500;
  line-height: 1.3em;
  word-wrap: break-word;
  margin-top: 14px;
  margin-bottom: 15px;
}

.not-found {
  margin-top: 30%;
  font-size: 32px;
  text-align: center;
}

.image-wrapper {
  text-align: center;
  margin: 30px 0;
}

.form-error {
  color: brown;
  font-size: 14px;
  font-weight: 500;
}
.navbar-right {
  margin-right: 0;
}
.table :not(thead) tr:hover{
  background: #ffeaea;
  cursor: pointer;
}

img{
  width: 100%;
  height: auto;
}

[data-up]{
  display: table-row!important;
}

section{
  padding-top: 90px;
  padding-bottom: 90px;
}

.row,
.search{
  width: 100%;
}

.message-alert{
  position: fixed;
  right: 0;
  top: 100px;
  padding: 20px 25px;
  min-width: 300px;
  background-color: #ffffff;
  border-radius: 5px 0 0 5px;
  border-left: 4px solid orange;
  transform: translateX(100%);
  box-shadow: 0 4px 10px 2px rgba(0, 0, 0, .01);
  transition: all .3s ease-in-out;
}

.message-alert.show{
  transform: unset;
}

.table{
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, .01);
}

.table tr td:first-child{
  padding-left: 50px;
}

.table td, .table th{
  border-color: #000!important;
}

.table tr[data-type="dir"] td:first-child{
  background: url("../img/folder.svg")  no-repeat center left / contain;
}

.table tr[data-type="file"] td:first-child{
  background: url("../img/html.svg") no-repeat center left / contain;
}
.table tr[data-is-img='true'] td:first-child{
  background: url("../img/jpg.svg") no-repeat center left / contain;
}
.dropdown-menu{
  min-width: 500px;
}

.dropdown-menu form{
  display: flex;
  align-items: center;
}

.dropdown-menu input{
  width: 100%;
}

.dropdown-menu .form-group{
  margin-bottom: 0;
  width: 100%;
  margin-right: 15px;
}
