{{> header title='Home'}}


<section>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Home page</h1>
                <form action="/user/{{username}}" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="file">File input</label>
                        <input type="file" id="file" name="file[0]">
                    </div>

                    <button type='submit' class='btn btn-success'>Upload</button>
                </form>

                {{#if userFilesCount}}
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Type</th>
                                    <th>Size</th>
                                    <th>Created</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                {{else}}
                    <p>There are no files</p>
                {{/if}}
            </div>
        </div>
    </div>
</section>

{{> footer}}
