</div>
<script src="/scripts/front.js"></script>
<script type="text/template" class="tableBody">

    ${ data.isDir
        ? `<tr data-id="${data.id}" data-type="dir">`
        : `<tr data-id="${data.id}" data-type="file">`
    }
        <td data-name>${data.name}</td>
        ${ data.isDir
            ? `<td>Directory</td>`
            : `<td>File</td>`
        }
        <td data-size>${data.size}</td>
        <td data-created>${data.birthtime}</td>
    </tr>
</script>
<script type="text/html" class="freeSpaceTemplate">
    <p>Free memory ${data.freeMemory} of ${data.allMemory}</p>
</script>
</body>
</html>
