</div>
<script src="/scripts/front.js"></script>
{{> tableBody }}
<script type="text/template" class="freeSpaceTemplate">
    <p>Free memory ${data.freeMemory} of ${data.allMemory}</p>
</script>
<script type="text/template" class="infoTemplate">
    <li>
        <strong class="title">${data.name}</strong>
        <span class="value">${data.value}</span>
    </li>
</script>
</body>
</html>
